/* Adjust the size, location, and background of the compendium elements */
.compendium-sidebar .directory-item.compendium .compendium-name {
    font-size: 0.9rem;
    padding-top: 0px;
    background: unset;
    border: unset;
}
.compendium-sidebar .directory-item.compendium.locked .compendium-name {
    background: unset;
}
.compendium-sidebar .directory-item.compendium .compendium-footer .source {
    background: unset;
}


/* Set the height of the lines to 50px and adjust the height of the footer */
.compendium-sidebar .directory-item.compendium {
    height: 50px
}
.compendium-sidebar .directory-item.compendium .compendium-footer {
    top: 30px;
}

/* I think this was just a V11 testing thing; keeping it around for the first commit
.compendium-sidebar .directory-item.compendium .compendium-name a {
    background: none;
    border: none;
}
*/

/* Prevent unlocked compendiums from highlighting the name differently when hovered
.compendium-sidebar .directory-item.compendium:hover .compendium-name {
    background: unset;
}
*/

/* Remove the header at the top of a popped out compendium */
.compendium.directory  .directory-header .header-banner {
    display: none;
}

/* V12 changes */
.application .window-content, .filepicker .window-content {
    padding: 0.5rem; /* Down from 1rem */
}

.standard-form fieldset {
    padding: 0.5rem; /* Down from 1rem */
    gap: 0.25rem; /* Down from 1rem */
}

/* Drop the font size for hints down to save room and tighten things up */
.standard-form .hint {
    font-size: var(--font-size-12);
}

.standard-form .tab, .standard-form {
    gap: unset; /* Down from 1rem; 4px isn't bad, but still more than needed with padding */
}
.standard-form .form-footer {
    padding-top: 0.25rem; /* Restore just a touch of space before the buttons in the footer */
}

.filepicker .filepicker-body {
    gap: unset;
}

.standard-form .form-group {
    gap: 0.25rem; /* Down from 0.5rem */
}

input[type="checkbox"] {
    --checkbox-checked-color: #666; /* Get rid of the orangeish color for checked checkboxes and use the gray from V11 */
}

/* Change from the black with orange border and clear slider to the orange box and gray slider from V11 */
input[type="range"] {
    --range-thumb-background-color: var(--color-warm-2);
    --range-thumb-border-color: var(--color-warm-2);
    --range-track-color: #666;
}

/* Get rid of the full-button color change when hovering a button and just have the border glow */
a.button, button, .theme-light a.button, .theme-light button {
    --button-hover-background-color: unset;
    --button-hover-text-color: unset
}

.window-app, .application {
    --header-height: 30px; /* Down from 36px to match V11 */
}

body {
    --input-height: 1.5rem; /* Shrink the excessively large line height, down from 2rem*/
}

.application nav.tabs {
    gap: unset; /* Cleared out the 1rem spacing */
}